.header {
  position: relative;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      position: relative;
      max-width: 80px;
    }
  }
  &__nav-list {
    position: relative;
    display: flex;
  }
  .nav-list {
    &__item {
      list-style: none;
      &-link {
        display: inline-block;
        color: #333;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: none;
      }
    }
  }
}